@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cell {
		width: 100px;
		height: 100px;
		background: white;
		border: 1px solid black;
		cursor: pointer;
		outline: none;
		font-size: 70px;
		font-weight: bolder;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.cell:hover {
		background: #ddd7d7;
		transition: 0.3s all ease;
	}

	.field {
		width: 300px;
		height: 300px;
		background: red;
		display: flex;
		flex-wrap: wrap;
	}

	.wrapper {
		min-height: 100vh;
		width: 100%;
		background: black;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.start__btn {
		width: 200px;
		height: 35px;
		margin-bottom: 25px;
		cursor: pointer;
		color: white;
		outline: none;
		background: rgb(40, 37, 37);
		border: 1px solid white;
	}

	.start__btn:hover {
		background: rgb(192, 186, 186);
		color: black;
		transition: 0.3s all ease;
	}

	.game__info {
		margin-bottom: 25px;
		font-size: 36px;
		color: white;
	}

}
